services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    container_name: elasticsearch-dev
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.4
    container_name: kibana-dev
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200

  api:
    build: ./api
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
      - /mnt/f/Dev/python_projects/youtube_tools/thumbnails:/thumbnails
    environment:
      - THUMBNAIL_BASE_URL=http://localhost:8000/thumbnails
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    restart: on-failure
    depends_on:
      - elasticsearch

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    command: npm run dev

  batch:
    build:
      context: ./batch
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /mnt/f/Dev/python_projects/youtube_tools/thumbnails:/thumbnails
    environment:
      - THUMBNAIL_BASE_URL=http://localhost:8000/thumbnails
    command: tail -f /dev/null
    depends_on:
      - elasticsearch

volumes:
  esdata:
    driver: local
