@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

body {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* bg-slate-300 */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; /* bg-slate-400 */
}
::-webkit-scrollbar-track {
    background: transparent;
}
